@import 'Assets/styles/settings/colors';
@import 'Assets/styles/settings/global';
@import 'Assets/styles/objects/list-reset';

.timeline {
  @extend %list-reset;
  position: relative;
  margin-left: $timescale-width;
}

.timeline-page__actions {
  display: flex;
  margin: 0 0 ($spacing-unit * 2);
}

.timeline-page__action {
  width: calc(100% / 3);
}
