@import 'Assets/styles/settings/colors';
@import 'Assets/styles/settings/global';
@import 'Assets/styles/objects/button-reset';

$button-color: $font-color;
$button-bg-color: $primary-color;

.button {
  @extend %button-reset;
  display: inline-block;
  padding: $spacing-unit ($spacing-unit * 2);
  color: $button-color;
  font-size: 1rem;
  background: $button-bg-color;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    background: $disabled-color;
  }
}

.button--secondary-color {
  background: $secondary-color;
}

.button--tertiary-color {
  background: $tertiary-color;
}

.button--warning-color {
  background: $warning-color;
}

.button--danger-color {
  background: $danger-color;
}

.button--neutral {
  background: $info-color;
}

.button--disabled {
  color: $font-color;
  background: $disabled-color;
}

.button--large {
  padding: ($spacing-unit * 2) ($spacing-unit * 4);
  font-size: 1.5rem;
}

.button--full {
  width: 100%;
  text-align: center;

  .timeline-actions & {
    height: 100%;
  }
}
