@import 'Assets/styles/settings/colors';
@import 'Assets/styles/settings/global';
@import 'Assets/styles/objects/button-reset';

$button-color: $white;
$button-bg-color: $primary-color;

.button {
  @extend %button-reset;
  display: inline-block;
  padding: $spacing-unit ($spacing-unit * 2);
  color: $button-color;
  font-size: 1rem;
  background: $button-bg-color;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.button--secondary-color {
  background: $secondary-color;
}

.button--tertiary-color {
  background: $tertiary-color;
}

.button--warning-color {
  background: $warning-color;
}

.button--danger-color {
  background: $danger-color;
}

.button--neutral {
  background: $info-color;
}

.button--full {
  width: 100%;
  text-align: center;
}
