@import 'Assets/styles/settings/colors';
@import 'Assets/styles/settings/global';
@import 'Assets/styles/settings/z-indexes';

$timescale-color: $cultured-white;

.timescale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin-left: $timescale-width;
  width: 2px;
  background: $timescale-color;
  z-index: index($timeline-page, timescale);
}

.timescale__tick {
  display: block;
  height: 1px;
  width: 5px;
  font-size: 0;
  background: $timescale-color;

  &:nth-child(6n + 1) {
    height: 2px;
    width: 7px;

    .timescale__time {
      display: block;
      transform: translate(#{$timescale-width * -1}, -50%);
      font-size: 12px;
      white-space: nowrap;
    }
  }

  &:nth-child(12n + 1) {
    height: 2px;
    width: 10px;
  }

  &:first-child,
  &:last-child {
    width: 20px;
    height: 2px;

    .timescale__time {
      display: block;
      transform: translate(#{$timescale-width * -1}, -50%);
      font-size: 12px;
      white-space: nowrap;
    }
  }
}
