/*------------------------------------*\
    #VISUALLY-HIDDEN
\*------------------------------------*/

/**
 * Visually hides an element off screen, keeping it accessible to assitive
 * technology.
 */
.visually-hidden,
%visually-hidden {
  position: absolute !important;
  top: 0 !important;
  left: -99999px !important;
}
