@import 'Assets/styles/settings/global';
@import 'Assets/styles/settings/z-indexes';

.flash-messages {
  position: fixed;
  top: ($spacing-unit * 3);
  left: $spacing-unit;
  right: $spacing-unit;
  z-index: index($components, flash-messages);
}
