@import 'Assets/styles/settings/colors';
@import 'Assets/styles/settings/global';
@import 'Assets/styles/settings/z-indexes';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: index($components, modal);
}

.modal__overlay {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 0;
  background: $black-alpha-50;
  border: 0;
  cursor: default;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-height: 75%;
  transform: translate(-50%, -50%);

  overflow: auto;
}

.modal__header {
  padding: $spacing-unit;
  text-align: right;
  background: transparent;
}

.modal__close {
  width: 30px;
  height: 30px;
  fill: $background-color;
}

.modal__body {
  padding: $spacing-unit;
  background: $background-color;
}
