/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * Color Variables
 *
 * These variables should always be aliased as Functional Variables, either at
 * the bottom of this file, or at the top of the Component SCSS that they
 * belong to. This method helps aid the quick reskinning of Components.
 */

$rosso-corsa-red: #c9200c;
$prussian-blue: #033265;
$cultured-white: #f7f7f7;
$mustard: #ffd448;
$oxford-blue: #060c2c;

$white: #ffffff;
$gray: #666666;
$light-gray: #dddddd;
$black: #000000;

$black-alpha-15: rgba($black, 0.15);
$black-alpha-50: rgba($black, 0.5);

$white-alpha-50: rgba($white, 0.5);

$transparent: transparent;

/**
 * Global Functional Color Variables
 */

$primary-color: $prussian-blue;
$secondary-color: $rosso-corsa-red;
$tertiary-color: $mustard;

$info-color: $oxford-blue;
$success-color: $prussian-blue;
$warning-color: $mustard;
$danger-color: $rosso-corsa-red;

$font-color: $cultured-white;
$background-color: $oxford-blue;
$link-color: $tertiary-color;
$shadow-color: $black-alpha-15;
$disabled-color: $light-gray;
