/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/**
 * Color Variables
 *
 * These variables should always be aliased as Functional Variables, either at
 * the bottom of this file, or at the top of the Component SCSS that they
 * belong to. This method helps aid the quick reskinning of Components.
 */

$slightly-desaturated-blue: #6686b6;
$very-dark-grayish-blue: #323235;
$dark-moderate-cyan: #54a36f;
$moderate-orange: #d19337;
$bright-red: #f44336;

$white: #ffffff;
$gray: #666666;
$light-gray: #dddddd;
$black: #000000;

$black-alpha-15: rgba($black, 0.15);
$black-alpha-50: rgba($black, 0.5);

$white-alpha-50: rgba($white, 0.5);

$transparent: transparent;

/**
 * Global Functional Color Variables
 */

$primary-color: $slightly-desaturated-blue;
$info-color: $very-dark-grayish-blue;
$success-color: $dark-moderate-cyan;
$warning-color: $moderate-orange;
$danger-color: $bright-red;

$font-color: $info-color;
$background-color: $white;
$link-color: $primary-color;
$shadow-color: $black-alpha-15;
