/*------------------------------------*\
    #FONTS
\*------------------------------------*/

/**
 * Font stacks
 */

$font-family: Tahoma, sans-serif;
$font-family-alt: 'Limelight', cursive;

/**
 * Text sizes
 */

$font-size: 14px;
$form-control-font-size: 16px;
$line-height: 1.4;
