@import 'Assets/styles/settings/colors';
@import 'Assets/styles/settings/global';
@import 'Assets/styles/settings/breakpoints';
@import 'Assets/styles/tools/respond-to';

.header {
  text-align: center;
  background: $secondary-color;
  background: linear-gradient(
    $secondary-color 0%,
    #{rgba($secondary-color, 0.6)} 100%
  );
}

.header__container {
  margin: 0 auto;
  padding: $spacing-unit;
  max-width: $page-max-width;

  @include respond-to($medium-breakpoint) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: ($spacing-unit * 3) $spacing-unit;
  }
}

.header__logo {
}

.header__nav {
  margin: 0 0 ($spacing-unit * 2);
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-item {
  & + & {
    @include respond-to($medium-breakpoint) {
      padding-left: ($spacing-unit * 2);
    }
  }
}

.header__nav-link {
}

.header__search {
  width: 100%;
}
