@import 'Assets/styles/settings/breakpoints';
@import 'Assets/styles/settings/colors';
@import 'Assets/styles/settings/global';
@import 'Assets/styles/settings/z-indexes';
@import 'Assets/styles/tools/respond-to';
@import 'Assets/styles/objects/button-reset';

$timeline-movie-node-color: $cultured-white;

.timeline-movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid $black-alpha-50;
  cursor: grab;
}

.timeline-movie__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
}

.timeline-movie__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
}

.timeline-movie__title {
  position: relative;
  padding: 0 $spacing-unit;
  text-align: center;

  a {
    color: $font-color;
    text-shadow: 2px 2px 2px $black-alpha-50;

    &:hover {
      text-decoration: none;
    }
  }
}

.timeline-movie__start,
.timeline-movie__finish {
  margin: 0;
  position: relative;
  align-self: flex-start;
}

.timeline-movie__start {
  transform: translateY(-50%);
}

.timeline-movie__finish {
  transform: translateY(50%);
}

.timeline-movie__node {
  @extend %button-reset;
  display: block;
  position: absolute;
  top: 50%;
  left: -5px;
  height: 12px;
  width: 12px;
  background: $timeline-movie-node-color;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: index($timeline-movie, start-finish-node);
}

.timeline-movie__node-text {
  display: block;
  padding: ($spacing-unit * 0.5) $spacing-unit;
  background: $background-color;
  box-shadow: 1px 1px 4px 0px $shadow-color;
  opacity: 0;
  transform: translateX(#{$spacing-unit * 1.5});
  transition: opacity 0.2s;

  .timeline-movie__node:focus + & {
    opacity: 1;
  }
}

.timeline-movie__node-text--is-visible {
  opacity: 1;
}

.timeline-movie__remove {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  overflow: hidden;
  transition: opacity 0.2s;
  transform: rotate(-90deg);

  button {
    align-self: flex-end;
    transform: translateY(100%);
    transition: transform 0.2s;

    .timeline-movie:hover & {
      transform: translateY(0);
    }

    .touchevents & {
      transform: translateY(0);
    }
  }
}
